.Root {
  position: sticky;
  top: 0;
  z-index: 10;
}

.LogoLink:focus-visible {
  outline: 2px solid rgb(var(--focus));
  outline-offset: 2px;
}

@supports not selector(:focus-visible) {
  .LogoLink:focus {
    outline: 2px solid rgb(var(--focus));
    outline-offset: 2px;
  }
}

.Logo {
  color: rgb(var(--purple-rgb));
  height: 100px;
  width: 100px;
  transition: height 300ms, width 300ms;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.Logo[data-size='small'] {
  height: 50px;
  width: 50px;
}

.Navbar {
  display: flex;
  padding: 8px 64px;
  @media only screen and (min-width: 1700px) {
    padding: 8px 256px;
  }
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    justify-content: center;
  }
  align-items: center;
  align-self: stretch;

  background: rgba(var(--tertiary-rgb));
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.Root ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style-type: none;
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.Link {
  box-sizing: border-box;
}

.Root li > * {
  color: rgb(var(--foreground-rgb));
  font-size: 1.3em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.Link > span {
  font-size: 1.1em;
}

.Link {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: border-bottom-width 100ms ease;
}

.LinkList li > * * {
  transition: color 100ms ease;
}

.Link:hover * {
  color: rgb(var(--alt-purple-rgb));
}

.Link:hover {
  border-bottom: solid 5px rgb(var(--alt-purple-rgb));
}

.Link:active {
  border-bottom: solid 0 rgb(var(--alt-purple-rgb));
}

.Link:focus-visible {
  border-bottom: solid 5px rgb(var(--focus));
  outline: solid 2px rgb(var(--focus));
  outline-offset: 4px;
}

@supports not selector(:focus-visible) {
  .Link:focus {
    border-bottom: solid 5px rgb(var(--focus));
    outline: solid 2px rgb(var(--focus));
    outline-offset: 4px;
  }
}

.Selected {
  border-bottom: solid 3px rgb(var(--alt-purple-rgb));
}