.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*background-color: rgb(var(--tertiary-rgb));*/
    gap: 16px;
}

.pillsContainer {
    list-style: none;
    padding: 1px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.pillsContainer li {
    margin: 0;
}

.pill {
    display: block;
    text-decoration: none;
    border-radius: 50px;
    outline: 1px solid rgb(255,255,255, 0.9);

    cursor: pointer;
    /*background-color: rgba(var(--background-rgb), 0.5);*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    justify-items: center;
    text-transform: capitalize;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    transition: color, font-size, padding 100ms ease, background-color 100ms ease;
    padding: 4px 16px;
}

.pill:focus,
.pill:hover {
    background-color: rgb(255,255,255, 0.9);
    color: rgb(var(--purple-rgb));
}

.pill.selected {
    background-color: rgb(255,255,255, 0.9);
    color: rgb(var(--purple-rgb));
    /*padding: 4px 24px;*/
}

.pill:focus-visible {
    outline: 3px solid rgb(var(--focus));
    outline-offset: 2px;
}

@supports not selector(:focus-visible) {
    .pill:focus {
        outline: 3px solid rgb(var(--focus));
        outline-offset: 2px;
    }
}

.pill:active {
    background-color: rgb(255,255,255, 0.9);
    color: rgb(var(--purple-rgb));
    /*padding: 4px 24px;*/
}