
.Subtitle {
  color: white;
  font-weight: 600;
  max-width: 400px;
  margin-bottom: 36px;
}

.Team_Section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Team_Section h2 {
  color: white
}

.ProfileGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: left;
  gap: 64px;
  align-self: stretch;

  @media only screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}