.Button {
  transition: all 100ms ease;
  /* Button format and layout */
  border: none;
  position: relative;
  display: inline-flex;
  max-width: fit-content;
  flex-grow: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #FFF;

  /* Text format */
  text-decoration: none;
  color: #000;
  font-size: 1em;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.Button:not([aria-disabled="true"])::before {
  transition: all 100ms ease;
  content: "";
  box-shadow: 6px 6px 0 0 rgb(0, 0, 0);
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.Button:not([aria-disabled="true"]):hover {
  transform: translate(-2px, -2px);
  mix-blend-mode: revert;
}

.Button:not([aria-disabled="true"]):hover::before {
  box-shadow: 8px 8px rgba(0,0,0);
}

.Button:not([aria-disabled="true"]):active {
  transform: translate(0);
}

.Button:not([aria-disabled="true"]):active::before {
  box-shadow: none;
}


.Clickable {
  font: unset;
  text-align: unset;
  cursor: pointer;
  background: unset;
  border: unset;
  color: unset;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: all 200ms cubic-bezier(0.24, 0.89, 0.57, 1.58);
}

.Clickable:hover p, .Clickable:hover h3 {
  text-decoration: underline;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: all 200ms cubic-bezier(0.24, 0.89, 0.57, 1.58);
}

@media (hover: hover) {
  .Clickable:hover {
    transform: scale(1.02);
  }
}

.Clickable:active {
  transform: scale(0.96);
}
