main {
  position: relative;
  display: flex;
  padding: 32px 64px;
  flex-grow: 1;
  overflow-x: hidden;

  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  @media only screen and (max-width: 600px) {
    padding: 32px 0;
  }

  @media only screen and (min-width: 1700px) {
    padding: 32px 256px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 8px;
  background: rgb(255, 255, 255);
  @media (prefers-color-scheme: dark) {
    background: rgb(20, 20, 20);
  }
  height: 60px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

