footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 8px;
  background: rgb(255, 255, 255);
  @media (prefers-color-scheme: dark) {
    background: rgb(20, 20, 20);
  }
  height: 60px;
}

