.Root {
  position: relative;
  display: flex;
  padding: 32px 64px;
  flex-grow: 1;
  overflow-x: hidden;

  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 32px;

  @media only screen and (max-width: 600px) {
    padding: 32px 0;
  }

  @media only screen and (min-width: 1700px) {
    padding: 32px 256px;
  }
}

.Cards {
  display: grid;
  justify-items: stretch;
  align-content: flex-start;
  gap: 16px;
  column-gap: 32px;
  align-self: stretch;
  grid-template-columns: auto auto;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: auto;
  }

  @media only screen and (min-width: 3000px) {
    grid-template-columns: auto auto auto auto;
  }
}

.CardWrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
}

.Card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 48px 64px 32px 32px;

  align-items: flex-start;
  align-self: stretch;
  gap: 16px;
  background: #1D1D1D;
}

.Card p, .Card h2 {
  color: white;
}

.CardIcon {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: -32px;
  border-radius: 100px;
  height: 64px;
  width: 64px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  left: 32px;
}

.CardIcon:has(span) {
  display: flex;
  padding: 10px;
  align-items: center;
  background: white;
}

.CardIcon > span {
  font-size: 44px;
}

.cardButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  gap: 16px;
}