.Root {
  position: relative;
  align-self: stretch;
  display: flex;
  padding: 32px 64px;
  flex-grow: 1;
  overflow-x: hidden;

  flex-direction: column;

  @media only screen and (max-width: 600px) {
    padding: 32px 0;
  }

  @media only screen and (min-width: 1700px) {
    padding: 32px 256px 64px;
  }
}

.Root {
  animation-name: slideUpAndFade;
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.headerSection {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 16px 36px 24px;
  background-color: rgb(var(--purple-rgb));
}

.Header {
  color: white;
  margin-bottom: 16px;
}