
.Root {
  position: relative;
  display: flex;
  overflow-x: hidden;

  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
  padding-top: 32px;
}

.Padded {
  padding: 0 64px;

  @media only screen and (max-width: 600px) {
    padding: 0 32px;
  }

  @media only screen and (min-width: 1700px) {
    padding: 0 256px;
  }
}

.content {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.emptyMessage {
  font-size: 1.2rem;
  font-weight: 500;
}

.ScheduleList {
  display: flex;
  align-self: stretch;
  /*justify-self: stretch;*/
  width: 100%;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}

/*.ScheduleList h2 {*/
/*  background-color: rgb(93, 31, 116);*/
/*  color: white;*/
/*  padding: 4px 12px;*/
/*}*/

.ShowItem {
  display: flex;
  gap: 16px;
}

.ShowDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 1000px;
}

.ShowExcerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /*-webkit-box-orient: vertical;*/
  max-height: calc(2em * 1.4);
}



