.root {
  position: relative;
  align-self: stretch;
  display: flex;
  padding: 0 0 32px;
  flex-grow: 1;
  /*overflow-x: hidden;*/

  flex-direction: column;
}

.headerSection {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 24px 64px;
  background-color: rgb(var(--purple-rgb));
  position: sticky;
  top: 0; /* required */;
  z-index: 1;

  @media only screen and (max-width: 600px) {
    padding: 24px 32px;
  }

  @media only screen and (min-width: 1700px) {
    padding: 24px 256px;
  }
}

.header {
  color: white;
  margin-bottom: 16px;
}

.content {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.emptyMessage {
  font-size: 1.2rem;
  font-weight: 500;
}

.ScheduleList {
  display: flex;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  gap: 24px;
  padding: 32px 64px;
  @media only screen and (max-width: 600px) {
    padding: 32px;
  }
  @media only screen and (min-width: 1700px) {
    padding: 32px 256px;
  }
}
