.Header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.Navbar {
  display: flex;
  padding: 8px 64px;
  @media only screen and (min-width: 1700px) {
    padding: 8px 256px;
  }
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    justify-content: center;
  }
  align-items: center;
  align-self: stretch;

  background: rgba(var(--tertiary-rgb));
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.Header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.Header li {
  box-sizing: border-box;
}

.Header li > * {
  color: rgb(var(--foreground-rgb));
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.Header li > *[aria-disabled="true"] {
  color: grey;
}

.Header p {
  color: grey;
  font-style: italic;
}

.Selected > * {
  color: rgb(var(--purple-rgb));
}

.Selected {
  border-bottom: solid 2px rgb(var(--purple-rgb));
}