.Root {
  display: flex;
  flex-direction: column;
  /*box-shadow: 0px 0px 24px rgb(0, 0, 0, 0.25);*/
  box-shadow: 8px 8px 0 rgb(var(--alt-purple-rgb), 0.25);
  border: solid 1px rgba(var(--alt-purple-rgb), 0.3);
  overflow: hidden;
}

.Content {
  background-color: rgb(var(--background-rgb));

  display: flex;
  padding: 16px;
  gap: 8px;
  flex-direction: column;
  flex-grow: 1;
  .Title {
    text-transform: uppercase;
    font-weight: bold;
  }

  .Name {
    font-weight: 600;
    font-size: 1.4em;
  }

  .Description {
    height: 100%;
  }

  .Description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .Email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .Email > p {
    font-weight: 600;
    overflow-wrap: anywhere;
  }

}

.FunFact, .FavouriteSong {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .Header {
    font-weight: 600;
    font-size: 1.1em;
  }
}

.FunFact > p {
  background: rgb(var(--alt-purple-rgb), 0.15);
  padding: 8px 12px;
  border-radius: 16px;
  color: rgb(var(--alt-purple-rgb));
}

.FunFact svg {
  color: rgb(247, 190, 54);
  fill: rgb(247, 190, 54);
  filter: drop-shadow(
          0 0 4px
          rgb(247, 190, 54, 0.8));
}

.FavouriteSong svg {
  color: rgb(239, 78, 78);
  fill: rgb(239, 78, 78);
  filter: drop-shadow(
          0 0 4px
          rgb(239, 78, 78, 0.6));
}

.Content span {
  font-size: 24px;
}

.Image, .ImgPlaceholder {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ImgPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--purple-rgb));
}

.ImgPlaceholder span {
  color: white;
  font-size: 64px;
}

.IconHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}